body {
    margin: 60px auto;
    width: 70%;
    background-color: lightgrey;
    color: #216b2c;
    font-family: monospace;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: underline;
    color:#206b2b;
}
a:hover {
    text-decoration: underline;
    background-color:#aaaaaa;
}
}
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #00610ee0;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  max-width:  600px;
  max-heigth:  600px;
  display: block;
}

.mjx-chtml {
    line-height: 0.8em
}
.note {
  font-weight:200;

}

blockquote {
  background-color:#f0f0f0a6;

}

.MJXp-math {
    font-family: monospace;
    font-size:1.3em;
}
.MJXp-mi {
    font-family: monospace;
    font-size:1.3em;

}

.MJXp-mo {
    font-family: monospace;
    font-size:1.3em;
    
}


.MJXp-msubsup {
    font-family: monospace;
    font-size: 1.1em;
}


.MJXp-msubsup {
    font-family: monospace;
    font-size: 1.1em;
}
.MJXp-mrow {
  font-family: monospace;
    font-size: 1.1em;
}

.MJXp-mrow .MJXp-script {
   font-family: monospace;
   font-size: 0.1em;
   vertical-align: -0.2em;
}



span {
    font-family: monospace!important; 
}
