body {
    margin: 10em auto;
    width: 59%;
    background-color: lightgrey;
    color: #216b2c;
    font-family: monospace;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.post {
    background-color: #d1dad3;
}
a {
    text-decoration: underline;
    color:#206b2b;
}
a:hover {
    text-decoration: underline;
    background-color:#aaaaaa;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
}
h3 {
    font-size: 1.5em;
    font-weight: 100;

}

h5 {
    font-size: 1.2em;
    font-weight: normal;

}

p {
    color: #00610ee0;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  max-width:  600px;
  max-heigth:  600px;
  display: block;
}

.mjx-chtml {
    line-height: 0.8em
}
.note {
  font-weight:200;

}

blockquote {
  background-color:#f0f0f0a6;

}

.MJXp-math {
    font-family: monospace;
}
.MJXp-mi {
    font-family: monospace;

}

.MJXp-mo {
    font-family: monospace;
    
}


.MJXp-msubsup {
    font-family: monospace;
}


.MJXp-msubsup {
    font-family: monospace;
}
.MJXp-mrow {
  font-family: monospace;
}

.MJXp-mrow .MJXp-script {
   font-family: monospace;
   vertical-align: -0.2em;
}



span {
    font-family: monospace!important; 
}
