<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
			<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
				  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
				});
				</script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.12.2/flowchart.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.3.1/mermaid.min.js'></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			<script>mermaid.initialize({noteMargin: 10}, ".language-mermaid");</script>
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>© 2019 <a href="https://speedy0214.github.io/">Pepper</a> All Rights Reserved</li>
				</ul>
			</footer>
		</body>
	</html>
